.center-box {
    background-color: rgb(32, 32, 116);
    width: 1000px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-item {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}

.nav {
    margin: auto;
    background-color: rgba(82, 164, 245, 0.897);
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: white;
}

img {
    width: 80px;
    margin: 15px;
}

h1 {
    flex: 1;
    text-align: center;
    font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: darkslateblue;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex: 5;
}